/* General Styling for the Yellow Page */

body {
    font-family: 'Arial', sans-serif;
    background-color: #fafafa;
    color: #333;
    margin: 0;
    padding: 20px;
}

/* Heading */
h1 {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #ffcc00;
}

p {
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 20px;
}

/* Tabs */
.tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.tablinks {
    background-color: #ffcc00;
    color: white;
    padding: 15px 20px;
    border: none;
    cursor: pointer;
    font-size: 1.1em;
    margin: 0 10px;
    border-radius: 5px;
}

.tablinks:hover {
    background-color: #e6b800;
}

.tablinks.active {
    background-color: #ff9900;
}

/* Tab content */
.tabcontent {
    display: none;
    text-align: center;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

/* Tab content images */
.tabcontent img {
    width: 60%;
    border-radius: 10px;
    margin-top: 20px;
}

/* Disclaimer */
.disclaimer {
    background-color: rgba(181, 123, 86, 0.8); /* Light brown, translucent */
    color: #fff;
    text-align: center;
    padding: 10px;
    font-size: 0.9em;
    position: fixed;
    bottom: 0;
    width: 100%;
}
